:root {
  --base: #292b2d;

  --blue: #4A90E2;
  --blue2: #3A81D4;

  --green: #7ac142;

  --grey2: #f9f9f9;
  --grey: #ddd;
  --grey4: #aaa;

  --pink: #d2476e;

  --red2: #EC8A91;
  --red3: #E24A55;
  --red4: #d24a54;
}
